ICgroupBirthColouredDotsLarge.png
ICgroupBirthDotsLarge.png
ICgroupBirthDotssmall.png
ICgroupBirthRBoxPlot.png
IncomeGpBar.png
InetUsersDistrib.png
ScatterPlotChallengeInetUsersBrthRtIncom.png
ScattrerInetUsageByCntryBrthRt.png
ScattrerInetUsageByCntryBrthRtShp.png
ScattrerInetUsageByCntryBrthRtTransparency.png
ScattrerInetUsageByCntryBrthRtTtl.png
Homework
