BoxPlotGenreAudienceRating.png
BoxPlotJitterGenreAudienceRating.png
BoxPlotPointsGenreAudienceRating.png
ColouredHistBlackOlineBdgtM.png
CriticPublicRatingBudgetLinePointLnSizeReducedpng
CriticPublicVsRatingClrBdgtMllns_1.png
CriticPublicVsRating_1.png
CriticPublicVsRating_2._clrspng
CriticPublicVsRating_3_clrsSze.png
CriticPublicVsRating_3_clrsSzeLine.png
CriticPublicVsRating_3_clrsSzeLineDot.png
CriticPublicVsRating_clrsSzeLineDotSzCrtcRtng.png
CriticPublicVsRating_clrsSzeLineDot_2.png
CriticRatingXBudgetMillions.png
CriticRatingXBudgetMillionsLblsFixed.png
DensityAlpha.png
DensityStack.png
FacetCrRtBdgtPerYrVSmthsAuRtScatter.png
FacetCrRtBdgtPerYrVSmthsAuRtScatterylim0-100.png
FacetCrRtPerYrVSmthsAuRtScatter.png
FacetCrRtPerYrVsAuRtScatter.png
FacetHistsBudgetM.png
GeompointsmoothCritcAudRating.png
GeompointsmoothCritcAudRatingNoFill.png
HistAudienceRating1Basic.png
HistBdgtMZoom0-50Cartesian.png
HistBudMillsbinwidth10.png
JitterAndBoxCriticRatingGenre.png
JitterPlotBoxPlotGenreAudienceRating.png
SactterFacetsCriticRatingAudienceRatingInvert.png
SactterFacetsCriticRatingAudiencerating.png
ScatterCrtRtAuRtGenrexlim100.png
ScatterCrtRtAuRtGenrexylim50-100.png
